<h1>Editando Tipo de projeto</h1>

<%= render 'form', project_kind: @project_kind %>

<br>
<%= link_to 'Show', @project_kind, class: "btn btn-info" %> |
<%= link_to 'Back', project_kinds_path, class: "btn btn-warning" %>
