
<div class="box">
<div class="container">
    <div class="box-header">
        <h1>Nova Pauta</h1>
    </div>
    
    <div class="box-body table-responsive">
        <%= render 'form', project: @project %>

        <%= link_to 'Back', projects_path %>
    </div>
</div>
</div>
    