<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">CADASTROS</li>
          
          <li class="sidebar-item">
              <%= link_to councilmen_path do %>
              <i class="fa fa-fw fa-plus "></i>
              <span>Vereadores</span>
              <% end%>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-fw fa-table "></i>
              <span>Grade</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="">
                <a href="http://localhost:8000/admin/courses">
                  <i class="fa fa-fw fa-circle-o "></i>
                  <span>Cursos</span>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fa fa-fw fa-circle-o "></i>
                  <span>Disciplinas</span>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fa fa-fw fa-circle-o "></i>
                  <span>Turnos</span>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fa fa-fw fa-circle-o "></i>
                  <span>Turmas</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header">CONFIG DA CONTA</li>
          <li class="">
            <a href="http://localhost:8000/admin/settings">
              <i class="fa fa-fw fa-user "></i>
              <span>Profile</span>
            </a>
          </li>
          <li class="">
            <a href="http://localhost:8000/admin/settings">
              <i class="fa fa-fw fa-lock "></i>
              <span>Change Password</span>
            </a>
          </li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
